html{
    background-color:lightgrey; font-family: 'Courier New', Courier, monospace;
}
p{
    color:maroon;
}
a:visited{
    color:purple;
    text-decoration: underline;
    background-color: transparent;
}
a:link{
    color:blue;
    text-decoration: underline;
    background-color: transparent;
}
a:hover{
    color:crimson;
    text-decoration: bold;
    background-color: transparent;
}